<a href="https://colab.research.google.com/github/radhika-19/CPSC-Assignment/blob/main/Assignment_Titanic__CPSC4830_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
%matplotlib inline

After inserting the libraries. We will load the dataset

In [ ]:
df_train = pd.read_csv('titanic_train.csv')
df_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Then with info fucntion we will check the count of the null values

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
print(df_train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

We noticed that there were null values in the age and cabin and embarked section so they should be treated

In [ ]:
df_train.drop('Cabin',axis=1,inplace=True)
df_train['Age'].fillna(df_train['Age'].median(),inplace=True)
df_train['Embarked'].fillna(df_train['Embarked'].mode()[0],inplace=True)

In [ ]:
## dropping unwnated columns which are not useful for the model:
df_train.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

In [ ]:
print(df_train.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

After dropping the unwanted values and treating them we checked again for null values and we did not find any and now we converted the sex and embarked column

In [ ]:
# Sex and Embarked are nominal categorical Variables 
sex = pd.get_dummies(df_train['Sex'],drop_first=True)
embarked = pd.get_dummies(df_train['Embarked'],drop_first=True)
train_df= pd.concat([df_train,sex,embarked],axis=1)

In [ ]:
# drop the original sex and embarked columns
train_df.drop(['Sex','Embarked'],axis=1,inplace=True)
train_df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1     1  0  1

In [ ]:
train_df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1     1  0  1

Now we imported the libraries for regression and we uild k cross validation models

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score ,classification_report
from collections import Counter
from sklearn import linear_model

In [ ]:
X = train_df.drop("Survived",axis=1)
y = train_df["Survived"]

X will contain the features and y will contain the target variable and then we split the data into 70 and 30 ratio

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [ ]:
predictions = logmodel.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.78      0.88      0.82       154
           1       0.80      0.66      0.72       114

    accuracy                           0.78       268
   macro avg       0.79      0.77      0.77       268
weighted avg       0.79      0.78      0.78       268

Reporting the accuracy of our model and we got  78% accuracy which is good

In [ ]:
# Model2 with 2 fold CV:

model2 = LogisticRegression(penalty='l2', n_jobs=-1, random_state=11)
scores=cross_val_score(model2,X,y,cv=2,scoring='accuracy')
print(scores)

[0.78475336 0.78651685]

In [ ]:
print("Average Accuracy",np.round(scores.mean(),4))

Average Accuracy 0.7856

In [ ]:
print("std",np.round(scores.std(),4))

std 0.0009

In [ ]:
# Model3 with 3 fold CV:

model3 = LogisticRegression(penalty='l2', n_jobs=-1, random_state=11)
scores=cross_val_score(model3,X,y,cv=3,scoring='accuracy')
print(scores)
print("Average Accuracy",np.round(scores.mean(),4))
print("std",np.round(scores.mean(),4))

[0.77777778 0.78451178 0.79461279]
Average Accuracy 0.7856
std 0.7856

In [ ]:
# Model4 with 4 fold CV:

model4 = LogisticRegression(penalty='l2', n_jobs=-1, random_state=11)
scores = cross_val_score(model4,X,y,cv=4,scoring='accuracy')
print(scores)
print("Average Accuracy:",np.round(scores.mean(),4))
print("Std :",np.round(scores.std(),4))

[0.78475336 0.80269058 0.76681614 0.81531532]
Average Accuracy: 0.7924
Std : 0.0183

In [ ]:
# Model5 with 5 fold CV:

model5 = LogisticRegression(penalty='l2', n_jobs=-1, random_state=11)
scores = cross_val_score(model5,X,y,cv=5,scoring='accuracy')
print(scores)
print("Average Accuracy:",np.round(scores.mean(),4))
print("Std :",np.round(scores.std(),4))

[0.78212291 0.78651685 0.78651685 0.76404494 0.8258427 ]
Average Accuracy: 0.789
Std : 0.0202

**The value of average accuracies for all the models is nearly the same and also the score of the cross validation remains the same**